# 제 9회 기출 복원문제 (2024.11.30 시행)

## 작업형 1유형 

### 문제 (1)
1. '대출 A' 와 '대출 B'칼럼을 합하여 '총대출액' 컬럼을 만든다 
2. 성별간 총 대출액 차이의 절대값이 가장 큰 지역 코드를 구하시오

In [ ]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/BigData_python/refs/heads/master/bigdata_csvfile/loan_data.csv')
data.head()
data['총대출액'] = data['대출A']+data['대출B']

#**
result = data.groupby(['지역코드','성별'])['총대출액'].sum()
print(result)
# 성별 << 같은 지역코드 성별간 차이를 알기 위헤 멀티 인덱스 컬럼을 unstack()화 
result = result.unstack()
print(result)

result['지역간 차이'] = abs(result[0]-result[1])
display(result.sort_values('지역간 차이',ascending=False))
print(1000009974)

지역코드        성별
1000000033  0     6845350
            1     1791601
1000000035  0     6567197
            1     4230014
1000000039  0     1101188
                   ...
1000009752  1     4109484
1000009885  0     6550295
            1     5816681
1000009974  0      706034
            1     6580516
Name: 총대출액, Length: 300, dtype: int64
성별                0        1
지역코드
1000000033  6845350  1791601
1000000035  6567197  4230014
1000000039  1101188  2007681
1000000096  5556791  1678482
1000000107  2619081  1712783
...             ...      ...
1000009579  3395426  1566031
1000009683  5192604  4064298
1000009752  6647324  4109484
1000009885  6550295  5816681
1000009974   706034  6580516

[150 rows x 2 columns]

성별                0        1   지역간 차이
지역코드
1000009974   706034  6580516  5874482
1000004751  1171052  6999802  5828750
1000000439  6329214   855562  5473652
1000004694  6723367  1302892  5420475
1000000799  6649992  1248654  5401338
...             ...      ...      ...
1000003723  4624873  4510382   114491
1000004639  2653839  2541999   111840
1000006720  3250283  3346610    96327
1000007428  1561689  1650207    88518
1000005018  6161951  6132105    29846

[150 rows x 3 columns]

1000009974

### 문제 (2)
1. 각 연도별로 각 범죄의 검거건수를 발생건수로 나눈 검거율을 계산
2. 연도별로 검거율이 가장 높은 범죄형태의 검거건수의 총합을 계산

In [23]:
import pandas as pd 
data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/BigData_python/refs/heads/master/bigdata_csvfile/crime_data_2014_2020.csv')

발생건수 = data.iloc[::2].set_index('년도').drop(columns='구분')
검거건수 = data.iloc[1::2].set_index('년도').drop(columns='구분')

검거율 = 검거건수 / 발생건수
display(검거율)

total = 0
# 연도별로 검거율이 가장 높은 범죄형태의 검거건수 총합 계산 
for year in 검거율.index:
    highest = 검거율.loc[year].idxmax()# 검거율이 가장 높은 범죄명을 highest 에 대입
    total += 검거건수.loc[year , highest]

print(total)

,범죄1,범죄2,범죄3,범죄4,범죄5,범죄6,범죄7,범죄8,범죄9,범죄10,...,범죄24,범죄25,범죄26,범죄27,범죄28,범죄29,범죄30,범죄31,범죄32,범죄33
년도,,,,,,,,,,,,,,,,,,,,,
2014,1.609272,2.063380,3.654762,1.492063,5.875000,1.019608,1.000000,13.400000,0.624454,0.983240,...,1.042254,0.287190,1.298701,0.651376,15.954545,0.553846,1.864151,0.820041,0.893617,1.082019
2015,0.269231,6.367647,1.739130,0.979684,0.668342,7.250000,2.236220,0.511494,6.693878,1.850000,...,7.448276,2.401361,0.952055,0.628692,1.235135,4.913043,0.732426,0.730512,1.424658,0.107143
2016,0.830626,4.220000,0.526316,0.679300,0.696970,1.200000,1.527508,0.157175,1.282353,0.609756,...,2.023810,1.125000,7.047619,0.095634,6.307692,38.900000,7.275862,0.813291,0.647856,1.436937
2017,0.846995,0.563559,0.870629,1.075881,0.237885,1.783133,0.839662,0.425876,0.561765,120.666667,...,4.301587,0.207885,2.246377,0.321429,1.199005,1.432277,5.440678,0.479798,0.192214,1.263158
2018,1.941176,0.060606,0.259053,0.701531,11.076923,6.180000,1.289256,0.006135,1.614407,0.914286,...,4.432692,0.261905,0.395722,4.301887,0.973214,1.670103,7.740741,0.933333,0.697917,1.372807
2019,1.430034,0.591398,0.432911,0.565714,3.113402,1.790000,1.480287,0.504762,0.397872,10.575000,...,0.483627,0.106173,1.654412,6.656250,0.786842,0.895616,1.112948,0.651584,91.500000,0.231405
2020,2.191083,1.115789,2.459119,20.458333,1.938776,0.410774,0.927536,0.745902,1.217532,0.632184,...,1.064286,1.801136,1.280156,11.093023,0.432802,0.548387,12.750000,0.908805,1.189320,0.011547

2256

### 문제 (3)
1. 결측값이 존재하는 컬럼 2개 중 '연봉'은 해당 컬럼의 평균으로 대체 , '근속년수'는 '부서명'과 '근무평가등급'이 같은 직원의 '근속년수' 평균으로 대체 
2. 연봉을 근속년수로 나눈 컬럼과 , 연봉을 고객만족점수으로 나눈 컬럼을 파생변수로 생성 , 각 파생변수를 기준으로 데이터를 정렬 
3. 두개의 파생변수를 기준으로 내림차순 정렬한 가각의 데이터에서 세번째로 높은 데아터의 '근속년수'를 a , 두번째로 높은데아터의 '교육참가시간수'를 b 라고 할때 a+b를 구하시오ㅓ 
(단, 출력값을 정수 형태로 제출)

In [35]:
import pandas as pd 
data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/BigData_python/refs/heads/master/bigdata_csvfile/employee_data_with_grades.csv')
#data.head()
data['연봉'].fillna(data['연봉'].mean(),inplace=True)
# '부서명'과 '근무평가등급'에 대한 '근속년수'의 평균으로 결측값 채우기
data['근속년수'] = data.groupby(['부서명','근무평가등급'])['근속년수'].transform(lambda x : x.fillna(x.mean())) # 각 그룹 내 평균값으로 결측값을 대체 

data.head()
data['연봉/근속년수'] = data['연봉']/data['근속년수']
data['연봉/고객만족점수'] = data['연봉']/data['고객만족점수']

data1 = data.sort_values('연봉/근속년수',ascending=False)
data2 = data.sort_values('연봉/고객만족점수',ascending=False)
display(data1.head()) # EMP0002 > 근속년수 : 1.0
display(data2.head()) # EMP0350 > 교육참가시간수 : 80
a = data1['근속년수'].iloc[2]
b = data2['교육참가시간수'].iloc[1]
print(int(a+b))

C:\Users\yee77\AppData\Local\Temp\ipykernel_19704\2445564208.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['연봉'].fillna(data['연봉'].mean(),inplace=True)

,직원ID,부서명,연봉,고객만족점수,근속년수,근무평가등급,교육참가시간수,연봉/근속년수,연봉/고객만족점수
327,EMP0328,IT,134954.0,6,1.0,B,32,134954.0,22492.333333
37,EMP0038,재무,133095.0,5,1.0,B,10,133095.0,26619.000000
1,EMP0002,고객지원,130724.0,4,1.0,A,40,130724.0,32681.000000
337,EMP0338,인사,127806.0,6,1.0,B,20,127806.0,21301.000000
140,EMP0141,영업,123784.0,8,1.0,B,23,123784.0,15473.000000

,직원ID,부서명,연봉,고객만족점수,근속년수,근무평가등급,교육참가시간수,연봉/근속년수,연봉/고객만족점수
135,EMP0136,영업,144217.0,1,4.0,B,48,36054.250000,144217.0
349,EMP0350,인사,141898.0,1,7.0,B,80,20271.142857,141898.0
202,EMP0203,고객지원,138647.0,1,29.0,B,85,4780.931034,138647.0
254,EMP0255,영업,135202.0,1,23.0,B,10,5878.347826,135202.0
156,EMP0157,재무,126502.0,1,2.0,C,12,63251.000000,126502.0

81

### 작업형 2유형
1. 주어진 데이터 상위 700행을 train 데이터로 / 나머지를 test로 사용 
2. 제공된 데이터를 이용하여 '운동 경험 수준(Experience_Level)'을 예측하는 모델 개발 , 얘측 결과를 csv 파일로 셍성하여 제출
3. 예측결과는 f1-score macro 평가지표에 따라 평가하고, 평가용 데이터(test)개수와 예측결과 데이터의 개수는 273개로 일치해야 함 
4. 예측 결과 파일명은 9th_test_type2.csv로 하고 컬럼 명은 pred 하나만 존재하도록 한다

In [9]:
import pandas as pd 

data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/BigData_python/refs/heads/master/bigdata_csvfile/gym_members_exercise_tracking.csv')
#data.info() # 결측치 없음 , 범주형변수 (Gender ,Workout_Type)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data['Workout_Type'] = le.fit_transform(data['Workout_Type'])

train = data.iloc[:700,:]
test = data.iloc[700:,:]
#print(train.info())

from sklearn.model_selection import train_test_split
X = train.drop(columns='Experience_Level')
y = train['Experience_Level']
X_train , X_val , y_train, y_val = train_test_split(X,y,test_size=0.2)

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=150 , max_depth=8)
rfc.fit(X_train,y_train)
y_pred = rfc.predict(X_val)

from sklearn.metrics import f1_score
result1 = f1_score(y_pred,y_val, average='macro')
print(result1) # 0.87 매우 정확함

0.9325396825396824

In [10]:
X_test = test.drop(columns = 'Experience_Level')

y_pred2 = rfc.predict(X_test)

pd.DataFrame({'pred':y_pred2}).to_csv('9th_test_type2.csv',index=False)
print(pd.read_csv('9th_test_type2.csv'))

     pred
0       2
1       2
2       2
3       2
4       2
..    ...
268     3
269     1
270     3
271     2
272     1

[273 rows x 1 columns]

## 작업형 3유형 
### 문제 (1)
- 주택가격_만원 예측
1. train 데이터를 활용하여 다중선형회귀분석 진행, 유의미한 독립변수의 개수를 구하시오 
2. 1번 문제에서 확인된 유의미한 독립변수들만을 사용해서 다중선형회귀분석 수행 , 해당 모델로 예측한 값의 피어슨 상관계수를 구하시오
3. 2번 문제에서 생성된 다중선형회귀분석 모델에 test 데이터를 적용 , 종속변수를 예측 , 예측값의 RMSE 수치를 구하시오 
(train 800행 , test 200행  , 모든 소수점은 3자리까지만 출력력)

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/BigData_python/refs/heads/master/bigdata_csvfile/real_estate_data.csv')
#data.info() # 결측치 없음 , 범주형변수 (Gender ,Workout_Type)
train = data.iloc[:800,:]
test =  data.iloc[800:,:]
train.head()

import statsmodels.api as sm
X = train.drop(columns='주택가격_만원')
y = train['주택가격_만원']

X1 = sm.add_constant(X)
result1 = sm.OLS(y,X1).fit().summary()
print(result1) 
# 문제 1 : 유의미한 독랍변수 개수 2개
print(2)
# 문제 2 유의미한 독립변수들로만 다중선형회귀분석 수행 , 예측한 값의 피어슨 상관계수
X2 = train[['주택면적_제곱미터','건축년도']]
X2 = sm.add_constant(X2)
model = sm.OLS(y,X2).fit()
#print(model.summary())
pred = model.predict(X2)
from scipy.stats import pearsonr
pear,p_val = pearsonr(y,pred)
print(round(pear,3))

# 문제 3: 2번에서 생성된 다중선형~모델에 test 데이터를 적용 , 종속변수를 예측 , 예측값의 RMSE 수치를 구하시오 
X3 = test[['주택면적_제곱미터','건축년도']]
X3 = sm.add_constant(X3)
pred2 = model.predict(X3)

from sklearn.metrics import root_mean_squared_error
val = test['주택가격_만원']
rmse = root_mean_squared_error(pred2,val)
print(round(rmse,3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   주택면적_제곱미터  1000 non-null   float64
 1   건축년도       1000 non-null   int64
 2   방_수        1000 non-null   int64
 3   화장실_수      1000 non-null   int64
 4   층수         1000 non-null   int64
 5   주택가격_만원    1000 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 47.0 KB
                            OLS Regression Results
==============================================================================
Dep. Variable:                주택가격_만원   R-squared:                       0.788
Model:                            OLS   Adj. R-squared:                  0.787
Method:                 Least Squares   F-statistic:                     591.6
Date:                Tue, 10 Jun 2025   Prob (F-statistic):          7.56e-265
Time:                        21:14:18   Log-Likelihood:                -8526.2
No. Observations:                 800   AIC:                         1.706e+04
Df Residuals:                     794   BIC:                         1.709e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.643e+06   4.05e+04     40.598      0.000    1.56e+06    1.72e+06
주택면적_제곱미터    304.7632      8.323     36.619      0.000     288.426     321.100
건축년도        -810.2752     20.287    -39.941      0.000    -850.097    -770.453
방_수          136.9615    186.459      0.735      0.463    -229.049     502.972
화장실_수       -233.9649    441.031     -0.530      0.596   -1099.690     631.761
층수            -4.3927     25.185     -0.174      0.862     -53.829      45.043
==============================================================================
Omnibus:                        0.028   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.986   Jarque-Bera (JB):                0.062
Skew:                          -0.012   Prob(JB):                        0.970
Kurtosis:                       2.965   Cond. No.                     2.21e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.21e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
2
0.888
10022.407

###  작업형 3유형 
#### 문제 (2) '대출승인여부'예측
1. 로지스틱 회귀분석을 통해 '근무시간_주당'칼럼의 p_value를 구하시오
2. 1번 로지스틱 회귀분석 결과에서 '자녀_수' 변수가 한 단위 증가할 때 대출 승인에 대한 오즈비를 연산
3. 문제1의 로지스틱 회귀 모델로 종속변수를 예측했을 때 , '대출승인여부'가 1일 확률이 0.3을 초과하는 데이터의 개수를 연산하시오
(단, 연산결과는 소수점 3자리까지 출력, 벌점(penalty)는 부여하지 않음음)

In [ ]:
import pandas as pd 
data = pd.read_csv('https://raw.githubusercontent.com/JEunJin/BigData_python/refs/heads/master/bigdata_csvfile/loan_approval_data.csv')
#data.info()# 전부 연속형
#문제 1 
import statsmodels.api as sm
X = data.drop(columns='대출승인여부')
y = data['대출승인여부']
X = sm.add_constant(X)
result1 = sm.Logit(y,X).fit()
print(result1.summary())
print(0.158)# 근무시간_주당의 p_value
# 문제 2
import numpy as np
answer2 = np.exp(result1.params['자녀수'])
print(round(answer2,3))
# 문제 3
pred = result1.predict(X)
# 다른 방식 문제 3 
#pred = pd.DataFrame({'대출승인여부':pred})
#pred = pred[pred['대출승인여부']> 0.3]
output = pred > 0.3
print(output.sum())
#print(pred.)

Optimization terminated successfully.
         Current function value: 0.438136
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                 대출승인여부   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      994
Method:                           MLE   Df Model:                            5
Date:                Tue, 10 Jun 2025   Pseudo R-squ.:                  0.3678
Time:                        21:32:12   Log-Likelihood:                -438.14
converged:                       True   LL-Null:                       -692.99
Covariance Type:            nonrobust   LLR p-value:                6.440e-108
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.0922      0.508      8.050      0.000       3.096       5.089
나이            -0.0786      0.007    -11.757      0.000      -0.092      -0.066
소득_만원          0.0193      0.002     10.704      0.000       0.016       0.023
근무시간_주당        0.0104      0.007      1.411      0.158      -0.004       0.025
자녀수            0.0207      0.074      0.281      0.779      -0.124       0.165
신용등급          -1.3004      0.092    -14.194      0.000      -1.480      -1.121
==============================================================================
0.158
1.021
630